<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.xi.multidatasourse.mapper.User1Mapper">

    <resultMap id="BaseModelMap" type="org.xi.multidatasourse.model.User1">
        <result property="id" column="id"/>
        <result property="username1" column="username1"/>
    </resultMap>

    <select id="select" resultMap="BaseModelMap">
        SELECT
        id,
        username1
        FROM
        `user1`
    </select>
</mapper>
